.home-main {

    .container {
        display: flex;
        flex-flow: column;
        justify-content: space-between;


        .img-wrapper {
            position: relative;
            padding: .6em 0;

            img {
                position: absolute;
                bottom: 45px;
                z-index: 2;
                box-shadow: 5px 5px 30px rgba(0, 0, 0, 0.564);

                width: 200px;
            }

        }

        .main-content {
            display: flex;
            padding: 2em;

            .description {
                width: 70%;
                height: 100%;
                display: flex;
                flex-direction: column;


                .title {
                    color: $titleColor;
                }

                .green-section {
                    background: rgb(85, 186, 89);

                    strong {
                        span {
                            color: rgb(178, 246, 141)
                        }
                    }
                }


            }
        }


        .a-banner {
            width: 350px;

            h6 {
                color: rgba(71, 71, 71, 0.783);
                font-weight: 700;
            }

            img {
                width: 100%;
                object-fit: cover;
            }
        }


    }
}


.buttons-wrapper {
    transform: translateX(-50%) translateY(-50%);
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 2em;
    display: none // width: 500px;
        // height: 200px;
    ;
    position: fixed;
    z-index: 4;
    top: 50%;
    left: 50%;
    background: $white;

    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.244);

    #delete-conferm {
        padding: 1em;
    }
}

.open {
    display: block;
}