.home-main {

    .container {
        display: flex;
        flex-flow: column;
        justify-content: space-between;

        .img-wrapper {
            position: relative;
            padding: .6em 0;

            img {
                position: absolute;
                bottom: 45px;
                z-index: 2;

                width: 140px;
            }

        }

        .main-content {
            display: flex;
            padding: 2em;

            .description {
                width: 60%;
                height: 100%;
            }

            .adv-banner {
                width: 40%;

                img {
                    width: 100%;
                    object-fit: cover;
                }
            }
        }
    }

}